
body {
    background-color:#e3ffe4;
}
li {
    list-style:none;
    padding: 2px 3px 2px 3px;
    color:#54436B;
}
.header {
    font-size:20px;
}
.heading {
    display: flex;
    justify-content: center;
}
.contents {
    background-color:#71EFA3;
    height:100%;
    font-size:35px;
}
h3 {
    font-size: 33px;
    display: flex;
    justify-content: center;
}