
body {
    background-color:#f3f3f3;
    color: slategrey;
}
li {
    list-style:none;
    padding: 30px 70px ;
    color:#343F56;
}
ul {
    display: flex;
}
.header {
    font-size:20px;
    padding: 40px 40px;
}
.heading {
    display: flex;
    justify-content: center;
}
.contents {
    background-color:#FB9300;
    height:100%;
    font-size:25px;
}
.text {
    padding:10px 80px;
}
.toc {
    display: flex;
}
h1 {
    font-size: 44px;
    color:rgb(0, 0, 0);
}
h2 {
    font-size: 33px;
    color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
}
h3 {
    font-size:30px;
    color:rgb(65, 65, 65);
    display:flex;
    justify-content: left;
}